body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.calculator-container {
    width: 400px;
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.calc-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.calc-name {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.calc-solar-pad {
    width: 170px;
    height: 25px;
    border-radius: 3px;
    display: block;
    background-image: 
        linear-gradient(to bottom right, #555, #000),
        linear-gradient(0deg, black 1px, transparent 1px),
        linear-gradient(90deg, black 1px, transparent 1px);
    background-size: 13px 13px;
}



.result-container {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    align-items: flex-end;
    flex-direction: column;
}

.calc-history {
    font-size: 14px;
    color: #999;
    text-align: right;
    width: 100%;
    margin-bottom: 5px;
}

.result {
    font-size: 32px;
    color: #333;
    text-align: right;
    width: 100%;
}

.row1-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.numbers, .operators, .clear, .equal, .pos-neg, .percentage {
    height: 70px;
    width: 80px;
    background-color: #e6e6e6;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-grow: 1;
    margin: 5px;
}

/* Special styling for the '0' button to occupy double space */
.numbers[value="0"] {
    height: 70px;
    width: 170px;
}

/* Adjust button spacing */
.row1-container button:first-child {
    margin-left: 0;
}

.row1-container button:last-child {
    margin-right: 0;
}

/* Hover states for all buttons */
.numbers:hover, .operators:hover, .clear:hover, .equal:hover, .pos-neg:hover, .percentage:hover {
    background-color: #cccccc;
}

/* Active state styles for buttons */
.numbers:active, .operators:active, .equal:active, .pos-neg:active, .percentage:active {
    background-color: #bfbfbf;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

/* Special colors for functional buttons */
.clear {
    background-color: #ff6666;
}

.operators, .equal {
    background-color: #4da6ff;
}

/* Active states for functional buttons */
.clear:active {
    background-color: #e60000;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.operators:active, .equal:active {
    background-color: #3399ff;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
